body {
  margin-top: 90px; }

.navbar {
  opacity: 0.9;
  background: #333;
  box-shadow: 2px 2px 5px #238396; }

#navbar a:hover {
  color: #238396; }

#showcase {
  position: relative;
  min-height: 600px;
  background: url(../img/mountains.jpg); }
  #showcase .overlay {
    background: rgba(23, 24, 24, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#authors img {
  margin-top: -50px; }
#authors .card:hover {
  background: #238396;
  color: #fff;
  cursor: pointer; }
#authors .fab {
  color: #fff; }

@media (max-width: 768px) {
  #showcase {
    min-height: 500px; }

  #showcase h1 {
    font-size: 4rem; }

  .mb-res {
    margin-bottom: 1rem; } }
#accordian .card-header:hover {
  cursor: pointer; }
